<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lista użytkowników</title>
    <meta name="description" content="Lista Wszystkich Użytkowników">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<table border="1" >
    <thead>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Username</th>
        <th>Email</th>
        <th>Adres</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tempUser: ${all}">
        <td th:text="${tempUser.firstName}"/>
        <td th:text="${tempUser.name}"/>
        <td th:text="${tempUser.userName}"/>
        <td th:text="${tempUser.emailAddress}"/>
        <td th:text="${tempUser.userAddress}"/>
    </tr>
    </tbody>
</table>

</body>
</html>